<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg2"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="#">HOME</a></li>
					<li>NOSSA REDE</li>
					<li>ADESÃO</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>SEJA DIVULGADOR</h2>
					<h4>Tenha mais qualidade de vida e tempo pra sua família!</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span12">
					<h1 class="page-title">Adesão</h1>
							
					<p>Se você já participou de uma reunião ou conversou pessoalmente com um de nossos divulgadores, faça sua adesão e garanta o quanto antes a sua renda extra semanal trabalhando em casa pela internet.</p>
                </div>

                <div class="span12">
                    <h3 class="m_title">É muito simples</h3>
                </div>
                    
                <div class="span3">
                    <div class="gobox">
                        <h4>Patrocinador</h4>
                        <p>Tenha em mãos o login do seu patrocinador para que possamos identificá-lo na nossa rede e fazer seu cadastro na rede dele.</p>
                    </div>
                </div>

                <div class="span3">
                    <div class="gobox">
                        <h4>Adesão</h4>
                        <p>Agende diretamente conosco um dia para fazermos o seu cadastro como parceiro ou divulgador no nosso sistema e no sistema da TelexFREE.</p>
                    </div>
                </div>

                <div class="span3">
                    <div class="gobox">
                        <h4>Ativação</h4>
                        <p>Aguarde a sua conta ficar ativada para utilizar o Back Office. Se você pagar no boleto, serão 48h. Se pargar parcelado conosco, serão 16 dias úteis de espera.</p>
                    </div>
                </div>

                <div class="span3">
                    <div class="gobox ok">
                        <img src="/images/ok.png" alt="" />
                        <h4>Pronto!</h4>
                        <p>Agora você já trabalha em casa e pode desenvolver sua rede.</p>
                    </div>
                </div>
			</div><!-- end row -->
			
            <div class="row">
                <div class="span12">
                    <h3 class="m_title">Formas de pagamento</h3>

                    <dl>
                        <dt>Boleto</dt>
                        <dd>Pague diretamente no site da <a href="http://telexfree.com/danilojrr" target="_blank">TelexFREE clicando aqui</a>. Após confirmação de pagamento, o prazo para ativação é de <em>48h</em>.</dd>

                        <dt>Cartão de Crédito</dt>
                        <dd>A nossa rede traz com exclusividade o parcelamento da sua adesão AdCentral Family ou AdCentral Simples através do PagSeguro. Não conhece o PagSeguro? <a href="http://goo.gl/GGd8P">Clique aqui para conhecer.</a> O prazo para ativação da conta é de <em>16 dias úteis</em>. Prazo estipulado pelo PagSeguro.</dd>
                    </dl>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="span12">
					<h3 class="m_title">E AGORA?</h3>
				</div>
			    <div class="span4">
				    <a href="/contato" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-getquote.png" alt="" />
					    <h3>DÚVIDAS?</h3>
					    <h4>FALE COM A GENTE</h4>
					    <p>Temos o prazer em te atender</p>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box centered fixclear">
					    <h3>AINDA NÃO É MEMBRO?</h3>
					    <h4>VENHA PRA UMA REUNIÃO</h4>
					    <p>Participe da seleção. Clique aqui.</p>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/perguntasfrequentes" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-downloadpdf.png" alt="" />
					    <h3 style="margin-top:10px">PERGUNTAS?</h3>
					    <h4>RESPOSTA ESTÁ AQUI</h4>
				    </a>
			    </div>
            </div><!-- end row // hoverboxes -->
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->