<div class="row-fluid">
    <div class="span12">
        <div class="box paint color_7">
            <div class="title">
                <h4>
                    <i class="icon-book"></i>
                    <span>Novo Post</span>
                </h4>
            </div>
            <div class="content">
                <form class="form-horizontal row-fluid" action="#">
                    <div class="form-row control-group row-fluid">
                        <!-- Título -->
                        <label class="control-label span2" for="titulo">Título</label>
                        <div class="controls span4">
                            <input type="text" id="titulo" class="row-fluid" required />
                        </div>
                    </div>
                    <div class="form-row control-group row-fluid">
                        <!-- Conteúdo -->
                        <label class="control-label span2" for="conteudo">Conteúdo</label>
                        <div class="controls span10">
                            <textarea id="conteudo" class="row-fluid" rows="15" required></textarea>
                        </div>
                    </div>
                    <div class="form-row control-group row-fluid">
                        <!-- Categoria -->
                        <label class="control-label span2" for="categoria">Categoria</label>
                        <div class="controls span10">
                            <select data-placeholder="Selecione">
                                <option></option>
                                <option>Teste</option>
                                <option>Teste</option>
                                <option>Teste</option>
                                <option>Teste</option>
                                <option>Teste</option>
                            </select>
                            <div id="default_select_chzn" class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 220px;">
                                <a href="javascript:void(0)" class="chzn-single chzn-default" tabindex="0">
                                    <span>Choose your favorite character...</span>
                                    <div>
                                        <b></b>
                                    </div>
                                </a>
                                <div class="chzn-drop" style="left: -9000px; width: 218px; top: 33px;">
                                    <div class="chzn-search"><input type="text" autocomplete="off" style="width: 183px;" tabindex="-1"></div>
                                    <ul class="chzn-results">
                                        <li id="default_select_chzn_o_1" class="active-result" style="">Bender</li>
                                        <li id="default_select_chzn_o_2" class="active-result" style="">Zapp Brannigan</li>
                                        <li id="default_select_chzn_o_3" class="active-result" style="">Zoidberg</li>
                                        <li id="default_select_chzn_o_4" class="active-result" style="">Kif Kroker</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row control-group row-fluid">
                        <!-- Tags -->
                        <select data-placeholder="Choose a Country" class="chzn-select chzn-done" multiple="" tabindex="-1" id="selIJ0" style="display: none;">
                            <option value="United States">United States</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Albania">Albania</option>                            
                        </select>
                        <div id="selIJ0_chzn" class="chzn-container chzn-container-multi chzn-container-active" style="width: 220px;">
                            <ul class="chzn-choices">
                                <li class="search-choice" id="selIJ0_chzn_c_62">
                                    <span>Dominican Republic</span>
                                    <a href="javascript:void(0)" class="search-choice-close" rel="62"></a>
                                </li>
                                <li class="search-choice" id="selIJ0_chzn_c_178">
                                    <span>Romania</span>
                                    <a href="javascript:void(0)" class="search-choice-close" rel="178"></a>
                                </li>
                                <li class="search-field">
                                    <input type="text" value="Choose a Country" class="" autocomplete="off" style="width: 25px;" tabindex="3">
                                </li>
                            </ul>
                            <div class="chzn-drop" style="left: 0px; width: 218px; top: 37px;">
                                <ul class="chzn-results">
                                    <li id="selIJ0_chzn_o_0" class="active-result" style="">United States</li>
                                    <li id="selIJ0_chzn_o_1" class="active-result" style="">United Kingdom</li>
                                    <li id="selIJ0_chzn_o_2" class="active-result" style="">Afghanistan</li>
                                    <li id="selIJ0_chzn_o_3" class="active-result" style="">Albania</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-row control-group row-fluid">
                        <!-- Imagem -->
                        <label class="control-label span2">Imagem</label>
                        <div class="controls span10">
                            <div class="input-append row-fluid">
                                <div class="uploader" id="uniform-search-input">
                                    <div class="customfile">
                                        <div class="uneditable-input spa1n6 fileinput" aria-hidden="true">
                                            <span>escolha um arquivo...</span>
                                        </div>
                                        <span class="add-on btn">Upload</span>
                                    </div>
                                    <input type="file" class="spa1n6 fileinput customfile-input" id="search-input" style="opacity: 0;" size="30.2" />
                                    <span class="filename">Nenhum arquivo selecionado</span><span class="action">Choose File</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>