<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg3"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>NOSSA REDE</li>
					<li>BENEFÍCIOS</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>O QUE OFERECEMOS</h2>
					<h4>Veja as vantagens de participar da nossa rede.</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->

<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span12">
					<h1 class="page-title">Benefícios</h1>
					<!--<p>As vantagens vistas aqui são de exclusividade nossa. Todos os benefícios são apenas para membros da rede.</p>-->
					<div class="row">
			            <div class="span10">
				            <h3 class="m_title" style="margin-top:20px;">A rede TelexFREE - Grupo Fortaleza oferece uma série de vantagens para você e seus indicados que vai desde um simples tira-dúvida até treinamentos em diversas áreas do negócio.</h3>
				            <p>As vantagens vistas aqui são de exclusividade nossa. Todos os benefícios são apenas para membros da rede. Para se tornar participante esteja a par de nosso processo de adesão. Tire suas dúvidas.</p>
			            </div>
			            <div class="span2">
				            <a href="/trabalheconosco" class="circlehover with-symbol" data-size="" data-position="top-left" data-align="right">
					            <span class="text">TRABALHE CONOSCO</span>
					            <span class="symbol"><img src="images/ok.png" alt="" /></span>
				            </a>
			            </div>
		            </div><!-- end row // circle hover -->
					
                    <h4>VANTAGENS DE SER MEMBRO</h4>
					<div class="row services_box">
						<div class="span4">
							<div class="box fixclear">
								<div class="icon"><img src="images/icons/services_box/ico-01.png" alt="" /></div>
								<h4 class="title">REUNIÕES SEMANAIS</h4>
								<ul class="list-style1">
                                    <li>Apresentação de Negócio</li>
									<li>Recrutamento</li>
									<li>Treinamento</li>
                                    <li>Novidades da Rede</li>
								</ul>
							</div><!-- end box -->
						</div>
						<div class="span4">
							<div class="box fixclear">
								<div class="icon"><img src="images/icons/services_box/ico-03.png" alt="" /></div>
								<h4 class="title">TREINAMENTOS</h4>
								<ul class="list-style1">
									<li>Funcionamento de Negócio da TelexFREE</li>
									<li>Aprendendo a usar o seu Back Office</li>
									<li>Postando Anúncios Rapidamente</li>
									<li>Abordando e Convidando Amigos</li>
									<li>Faça sua Rede Crescer</li>
								</ul>
							</div><!-- end box -->
						</div>
						<div class="span4">
							<div class="box fixclear">
								<div class="icon"><img src="images/icons/services_box/ico-01.png" alt="" /></div>
								<h4 class="title">FACILIDADES</h4>
								<ul class="list-style1">
									<li>Adesão Parcelada em até 12x no Cartão</li>
									<li>Suporte e Atendimento aos Membros</li>
									<li>Novidades TelexFREE</li>
								</ul>
							</div><!-- end box -->
						</div>
					</div><!-- end row // services_box -->
							
					<hr class="bs-docs-separator" />
    				
					<div class="row">
			            <div class="span4">
				            <a href="/contato" class="hover-box fixclear">
					            <img src="images/icons/hover-boxes/ico-getquote.png" alt="" />
					            <h3>DÚVIDAS?</h3>
					            <h4>FALE COM A GENTE</h4>
					            <p>Temos o prazer em te atender</p>
				            </a>
			            </div>
			            <div class="span4">
				            <a href="/contato" class="hover-box centered fixclear">
					            <h3>AINDA NÃO É MEMBRO?</h3>
					            <h4>VENHA PRA UMA REUNIÃO</h4>
					            <p>Participe da seleção. Clique aqui.</p>
				            </a>
			            </div>
			            <div class="span4">
				            <a href="/adesao" class="hover-box fixclear">
					            <img src="images/icons/hover-boxes/ico-downloadpdf.png" alt="" />
					            <h3 style="margin-top:10px">ADESÃO</h3>
					            <h4>ENTENDA O PROCESSO AQUI</h4>
				            </a>
			            </div>
		            </div><!-- end row // hoverboxes -->
							
				</div>
			</div><!-- end row -->
					
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->