<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg3"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>PRODUTOS E SERVIÇOS</li>
					<li>BEST WESTERN HOTEL</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>INVESTIMENTO GARANTIDO</h2>
					<h4>Conheça nossos produtos e serviços.</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span12">
					<h1 class="page-title">Best Western Hotel</h1>
							
					<div class="hg-portfolio-item">
                                
                        <div class="category-desc">
                            <p>Localizado na Tijuca, na região do Maracanã, o hotel deve ter altas de ocupação e consequentemente ótimo resultado aos investidores.O Maracanã vai potencializar ainda mais a ocupação nos finais de semana.</p>
                            <p>A carência de hoteis no Rio de Janeiro, somado aos legados dos grandes eventos como Copa das Confederações em 2013, Copa do Mundo de 2014, e as Olimpiadas de 2016 no Rio de Janeiro, fazem do investimento hoteleiro o melhor negocio do momento.</p>
                        </div>
                                
                        <div class="img-full pull-right" style=" margin-left:25px;">
                            <div class="hoverBorder">
                                <iframe width="480" height="300" src="http://www.youtube.com/embed/TJ8GO8IMobE?rel=0" frameborder="0" allowfullscreen></iframe>
                            </div>

                            <div class="clear"></div>
                                
                            <div class="itemLinks">
                                <!--<p><a href="http://www.bwtelexfreetijuca.com.br" target="_blank">Mais detalhes: <strong>www.bwtelexfreetijuca.com.br</strong></a></p>-->
                                <p><a href="/pdf/book-best-western.pdf" target="_blank">Mais detalhes: <strong>baixe nosso PDF</strong></a></p>
                            </div>
                                
                            <div class="itemSocialSharing fixclear">
                                        
                                <!-- Twitter Button -->
                                <div class="itemTwitterButton">
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
                                    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                                </div>
                                        
                                <!-- Facebook Button -->
                                <div class="itemFacebookButton">
                                    <div id="fb-root"></div>
                                    <script type="text/javascript">
                                        (function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) {return;}
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_US/all.js#appId=177111755694317&xfbml=1";
                                        fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'facebook-jssdk'));
                                    </script>
                                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
                                </div>
                                        
                                <!-- Google +1 Button -->
                                <div class="itemGooglePlusOneButton">	
                                    <g:plusone size="medium"></g:plusone>
                                    <script type="text/javascript">
                                        (function() {
                                        window.___gcfg = {lang: 'en'}; // Define button default language here
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                        })();
                                    </script>
                                </div>
                                        
                                <div class="clr"></div>
                            </div><!-- social links -->
                                
                        </div><!-- right side -->

                        <div class="text">
                            <h5><strong>Best Western no Mundo</strong></h5>
                            <p>Maior rede hoteleira do mundo com mais de 4.000 hoteis atuando em cerca de 90 países.</p>
                            <ul class="list-style2 ">
                                <li>2.200 na América do Norte</li>
                                <li>1.300 na Europa</li>
                                <li>200 hotéis na Oceania</li>
                                <li>200 na Ásia e África</li>
                                <li>100 hotéis na América Latina</li>
                            </ul>
                            <p>É a primeira companhia hoteleira a lançar um cartão de viagem pré-pago – utilizado para pagar acomodações, acessórios e serviços.</p>
                            <dl>
                                <dt>Best Western Marketing Global</dt>
                                <dd>Mais de $75 Milhões Investidos Anualmente.</dd>

                                <dt>Best Western Rewards</dt>
                                <dd>Programa de Fidelidade verdadeiramente Global com mais de 11milhões de membros, sendo 70 mil no Brasil.</dd>
                            </dl>


                        </div><!-- end text -->
                        <div class="clear"></div>

                        <ul class="other-images clearfix">
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-lobby.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-lobby_thumb.jpg" alt="Lobby" class="shadow" />
                                </a>
                            </li>
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-quarto.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-quarto_thumb.jpg" alt="Quarto" class="shadow" />
                                </a>
                            </li>
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-restaurante.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-restaurante_thumb.jpg" alt="Restaurante" class="shadow" />
                                </a>
                            </li>
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-quarto-planta.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-quarto-planta_thumb.jpg" alt="Quarto - Planta" class="shadow" />
                                </a>
                            </li>
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-fachada.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-fachada_thumb.jpg" alt="Fachada" class="shadow" />
                                </a>
                            </li>
                        </ul><!-- other images/videos -->
                            
                    </div><!-- end Portfolio page -->
							
				</div>
			</div><!-- end row -->
					
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->