<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg2"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>TELEXFREE</li>
                    <li>GANHOS</li>
					<li>BINÁRIOS</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>TRABALHE EM CASA</h2>
					<h4>Tenha uma renda extra trabalhando no conforto da sua casa!</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span9">
					<h1 class="page-title">Ganho de Binários</h1>
					
					<p>Para começar a receber esse bônus você precisa primeiramente colocar duas pessoas na sua rede, uma de cada lado; um na esquerda e outro na direita. Precisa também manter um cliente direto com conta 99TelexFREE ativa, que pode ser, inclusive, você mesmo. A partir daí você <strong>se qualifica</strong> para receber os ganhos binários. Após você se qualificar, toda vez que aparecer uma AdCentral Simples do seu lado esquerdo e outra AdCentral Simples do lado direito, vai formar um par, ou ciclo. Então você ganha US$ 20.00 por par formado, não importando se é direto, indireto ou se veio pelo transbordo (derramamento).</p>
                    <p>Veja como é bom indicar divulgadores para a Telexfree! Na 2ª forma de ganho, mostramos que se você quiser ampliar seus ganhos, você será muito bem remunerado por isso! Quando você indica alguém e essa pessoa adquire uma AdCentral Simples no seu lado esquerdo, você ganha US$ 20.00. Se essa pessoa adquirir uma AdCentral Family você ganha US$ 100 dólares.</p>
                    <p>Se outra pessoa adquirir uma AdCentral Simples no seu lado direito, você ganha mais US$ 20.00 e torna-se qualificado para participar dos ganhos binários! Se essa pessoa adquirir uma AdCentral Family você ganha mais US$ 100.00.</p>
				</div>
						
				<div class="span3">
					<div id="sidebar" class="sidebar-right">
								
						<div class="widget">
							<h4 class="title">Formas de Ganho</h4>
							<ul class="menu">
								<li><a href="/ganhosindividuais">Ganhos Individuais</a></li>
                                <li><a href="/ganhoindicacaodireta">Indicação Direta</a></li>
                                <li><a href="/ganhoresidualdeanuncio">Residual de Anúncio</a></li>
                                <li><a href="/ganhobinarios">Binário</a></li>
                                <li><a href="/ganhocentraisadicionais">Centrais Adicionais</a></li>
                                <li><a href="/ganhoroyalties">Royalties</a></li>
                                <li><a href="/ganhoteambuilder">Team Builder</a></li>
							</ul><!-- end footer menu -->
						</div><!-- end widget -->
								
                        <!--
						<div class="widget">
							<h4 class="title">Flickr Feed</h4>
							<div class="flickrfeed loading">
								<ul class="flickr_feeds fixclear" data-size="small"></ul>
							</div><!- end // flickrfeed -->
						</div>
								
					</div>
            </div><!-- end row -->

            <div class="row">
                <div class="span9">
                    <h3 class="m_title">E COMO FUNCIONA O GANHO DE BINÁRIO?</h3>

                    <p>Toda vez que uma AdCentral Simples for cadastrada do lado esquerdo e outra do lado direito você fecha o que nós chamamos de <em>CICLO</em> ou <em>PAR</em> e você vai ganhar US$ 20.00. Esse sistema binário tem um limite de 22 ciclos por dia, isso significa que você pode ganhar US$ 440.00 por dia só com os ganhos de binário. E não se esqueça que, além do ganho de binário, toda vez que uma nova AdCentral Simples é cadastrada na sua rede você ganha US$ 20.00 pela <em>Indicação Direta</em>.</p>
                </div>
            </div>

            <div class="row">
                <div class="span9" style="text-align: center">
                    <img src="/images/ganhos/ganho_equipe_binario.jpg" alt="" />
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="span9">
                    <h3 class="m_title">RESUMINDO OS GANHOS ATÉ AGORA</h3>

                    <div class="tabbable tabs_style1">
                        <ul class="nav fixclear">
                            <li class="active"><a href="#tabs1-pane1" data-toggle="tab">Anúncios</a></li>
                            <li><a href="#tabs1-pane2" data-toggle="tab">Indicação Direta</a></li>
                            <li><a href="#tabs1-pane3" data-toggle="tab">Residual</a></li>
                            <li><a href="#tabs1-pane4" data-toggle="tab">Binário</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs1-pane1">
                                <h4>Ganhos por Anúncios Diários</h4>
                                <p>Você ganha dinheiro para publicar anúncios na internet.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane2">
                                <h4>Ganhos por Indicação Direta</h4>
                                <p>Você ganha dinheiro por indicar outros divulgadores para a TelexFREE.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane3">
                                <h4>Ganho Residual</h4>
                                <p>Você recebe 2% de Ganho Residual de Anúncio, ou seja, até o 6º nível você ganha 2% sobre os anúncios dos seus Indicados Diretos ou Indiretos.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane4">
                                <h4>Ganho de Binários</h4>
                                <p>Você ganha dinheiro toda vez que fecha um par - ciclo. Uma AdCentral do lado esquerdo e outra do lado direito.</p>
                            </div>
                        </div>
                    </div>
                </div>
			</div><!-- end row -->
			
            <div class="row">
                <div class="span12">
					<h3 class="m_title">E AGORA?</h3>
				</div>
                <div class="span4">
				    <a href="/ganhocentraisadicionais" class="hover-box fixclear">
					    <span class="numeroGanho">5º</span>
					    <h3 style="margin-top:10px">GANHO</h3>
					    <h4>CENTRAIS ADICIONAIS</h4>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-getquote.png" alt="" />
					    <h3>DÚVIDAS?</h3>
					    <h4>FALE COM A GENTE</h4>
					    <p>Temos o prazer em te atender</p>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box centered fixclear">
					    <h3>AINDA NÃO É MEMBRO?</h3>
					    <h4>VENHA PRA UMA REUNIÃO</h4>
					    <p>Participe da seleção. Clique aqui.</p>
				    </a>
			    </div>
            </div><!-- end row // hoverboxes -->
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->