<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg2"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>TELEXFREE</li>
                    <li>GANHOS</li>
					<li>ROYALTIES</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>TRABALHE EM CASA</h2>
					<h4>Tenha uma renda extra trabalhando no conforto da sua casa!</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span9">
					<h1 class="page-title">Ganho de Royalties</h1>
					
					<p>Os Royalties são mais uma forma de ganhar dinheiro com bônus. Se você atingir o desempenho de 11 AdCentrais do lado esquerdo e 11 AdCentrais do lado direito dentro de um período de 20 dias consecutivos, você recebe um bônus extra.</p>
                    <p>O valor do bônus é de 1% do faturamento líquido da TelexFREE. Este será divido em partes iguais entre todas as pessoas que atingirem esse desempenho.</p>

                    <br clear="all"/>

                    <div style="text-align: center">
                        <img src="/images/ganhos/ganho_equipe_binario.jpg" alt="" />
                    </div>

                    <br clear="all"/>

                    <p>Se só você atingir esse desempenho o bônus será só seu, se 10 pessoas atingirem esse desempenho o bônus será dividido entre as 10. Vale resaltar que a TelexFREE esta crescendo a passos largos, ou seja, 1% de 100.000 é US$ 1,000.00. 1% de 500.000 é US$ 5,000.00. 1% de 1.000.000 é US$ 10,000.00 e assim por diante. Veja bem, somente com os ciclos da indicação direta você já garante um ganho de US$ 40.00 para cada ciclo.</p>
				</div>
						
				<div class="span3">
					<div id="sidebar" class="sidebar-right">
								
						<div class="widget">
							<h4 class="title">Formas de Ganho</h4>
							<ul class="menu">
								<li><a href="/ganhosindividuais">Ganhos Individuais</a></li>
                                <li><a href="/ganhoindicacaodireta">Indicação Direta</a></li>
                                <li><a href="/ganhoresidualdeanuncio">Residual de Anúncio</a></li>
                                <li><a href="/ganhobinarios">Binário</a></li>
                                <li><a href="/ganhocentraisadicionais">Centrais Adicionais</a></li>
                                <li><a href="/ganhoroyalties">Royalties</a></li>
                                <li><a href="/ganhoteambuilder">Team Builder</a></li>
							</ul><!-- end footer menu -->
						</div><!-- end widget -->
								
                        <!--
						<div class="widget">
							<h4 class="title">Flickr Feed</h4>
							<div class="flickrfeed loading">
								<ul class="flickr_feeds fixclear" data-size="small"></ul>
							</div><!- end // flickrfeed ->
						</div>-->
					</div>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="span9">
                    <h3 class="m_title">RESUMINDO OS GANHOS ATÉ AGORA</h3>

                    <div class="tabbable tabs_style1">
                        <ul class="nav fixclear">
                            <li class="active"><a href="#tabs1-pane1" data-toggle="tab">Anúncios</a></li>
                            <li><a href="#tabs1-pane2" data-toggle="tab">Indicação Direta</a></li>
                            <li><a href="#tabs1-pane3" data-toggle="tab">Residual</a></li>
                            <li><a href="#tabs1-pane4" data-toggle="tab">Binário</a></li>
                            <li><a href="#tabs1-pane5" data-toggle="tab">AdCentrais Adicionais</a></li>
                            <li><a href="#tabs1-pane6" data-toggle="tab">Royalties</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs1-pane1">
                                <h4>Ganhos por Anúncios Diários</h4>
                                <p>Você ganha dinheiro para publicar anúncios na internet.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane2">
                                <h4>Ganhos por Indicação Direta</h4>
                                <p>Você ganha dinheiro por indicar outros divulgadores para a TelexFREE.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane3">
                                <h4>Ganho Residual</h4>
                                <p>Você recebe 2% de Ganho Residual de Anúncio, ou seja, até o 6º nível você ganha 2% sobre os anúncios dos seus Indicados Diretos ou Indiretos.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane4">
                                <h4>Ganho de Binários</h4>
                                <p>Você ganha dinheiro toda vez que fecha um par - ciclo. Uma AdCentral do lado esquerdo e outra do lado direito.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane5">
                                <h4>Ganho de AdCentrais Adicionais</h4>
                                <p>Você ganha dinheiro toda vez que fecha um ciclo de AdCentrais Adicionais da seguinte maneira: 3 AdCentrais Adicionais do lado esquerdo e outras 3 do lado direito.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane6">
                                <h4>Ganho de Royalties</h4>
                                <p>A cada 2 AdCentral indicadas por você, uma do lado esquerdo e outra do lado direito você completa um ciclo. Com 22 ciclos você já ganha US$ 440.00, mais a participação de 1% no faturamento líquido da empresa naquele mês.</p>
                            </div>
                        </div>
                    </div>
                </div>
			</div><!-- end row -->
			
            <div class="row">
                <div class="span12">
					<h3 class="m_title">E AGORA?</h3>
				</div>
                <div class="span4">
				    <a href="/ganhoteambuilder" class="hover-box fixclear">
					    <span class="numeroGanho">7º</span>
					    <h3 style="margin-top:10px">GANHO</h3>
					    <h4>TEAM BUILDER</h4>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-getquote.png" alt="" />
					    <h3>DÚVIDAS?</h3>
					    <h4>FALE COM A GENTE</h4>
					    <p>Temos o prazer em te atender</p>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box centered fixclear">
					    <h3>AINDA NÃO É MEMBRO?</h3>
					    <h4>VENHA PRA UMA REUNIÃO</h4>
					    <p>Participe da seleção. Clique aqui.</p>
				    </a>
			    </div>
            </div><!-- end row // hoverboxes -->
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->