<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg2"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>TELEXFREE</li>
                    <li>GANHOS</li>
					<li>TEAM BUILDER</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>TRABALHE EM CASA</h2>
					<h4>Tenha uma renda extra trabalhando no conforto da sua casa!</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span9">
					<h1 class="page-title">Ganho de Team Builder</h1>
					
					<p>O que é um Team Builder? Podemos traduzir como um <em>Desenvolvedor de Rede</em> e é muito bem remunerado por isso.</p>
                    <p>Para se tornar um Team Builder você precisa:</p>

                    <ol>
                        <li>Ter adquirido o pacote AdCentral Family</li>
                        <li>Ter 5 clientes com o 99 TelexFREE (VoIP) ativos</li>
                        <li>Ter 10 AdCentral Family cadastradas diretas 5 do lado esquerdo e 5 do lado direito</li>
                        <li>Cada uma dessas AdCentral Family precisam também ter 5 clientes 99 TelexFREE ativos</li>
                    </ol>

                    <br clear="all"/>

                    <div style="text-align: center">
                        <img src="/images/ganhos/ganho_equipe_teambuilder.jpg" alt="" />
                    </div>

                    <br clear="all"/>

                    <p><span class="label label-info">Observação:</span> Você tem 60 dias contados a partir da data de ativação do seu cadastro para atingir a posição de Team Builder.</p>
                    <p>Com uma AdCentral Family, você publica 5 anúncios por dia e ganha US$ 100.00 por semana ou US$ 400.00 por mês. Quando você adquiri a posição de Team Builder você ganha algumas regalias.</p>

                    <ol>
                        <li>O Team Builder e todas as AdCentral Family vinculadas a ele passam a publicar 1 anúncio por dia e ganham US$ 100.00 por semana</li>
                        <li>Depois de 30 dias como Team Builder, no mês seguinte você começa a ganhar 2% de participação sobre o faturamento líquido da TelexFREE até o teto de US$ 39,600.00.</li>
                    </ol>
				</div>
						
				<div class="span3">
					<div id="sidebar" class="sidebar-right">
								
						<div class="widget">
							<h4 class="title">Formas de Ganho</h4>
							<ul class="menu">
								<li><a href="/ganhosindividuais">Ganhos Individuais</a></li>
                                <li><a href="/ganhoindicacaodireta">Indicação Direta</a></li>
                                <li><a href="/ganhoresidualdeanuncio">Residual de Anúncio</a></li>
                                <li><a href="/ganhobinarios">Binário</a></li>
                                <li><a href="/ganhocentraisadicionais">Centrais Adicionais</a></li>
                                <li><a href="/ganhoroyalties">Royalties</a></li>
                                <li><a href="/ganhoteambuilder">Team Builder</a></li>
							</ul><!-- end footer menu -->
						</div><!-- end widget -->
								
                        <!--
						<div class="widget">
							<h4 class="title">Flickr Feed</h4>
							<div class="flickrfeed loading">
								<ul class="flickr_feeds fixclear" data-size="small"></ul>
							</div><!- end // flickrfeed ->
						</div>-->
					</div>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="span9">
                    <h3 class="m_title">RESUMINDO OS GANHOS</h3>

                    <div class="tabbable tabs_style1">
                        <ul class="nav fixclear">
                            <li class="active"><a href="#tabs1-pane1" data-toggle="tab">Anúncios</a></li>
                            <li><a href="#tabs1-pane2" data-toggle="tab">Indicação Direta</a></li>
                            <li><a href="#tabs1-pane3" data-toggle="tab">Residual</a></li>
                            <li><a href="#tabs1-pane4" data-toggle="tab">Binário</a></li>
                            <li><a href="#tabs1-pane5" data-toggle="tab">AdCentrais Adicionais</a></li>
                            <li><a href="#tabs1-pane6" data-toggle="tab">Royalties</a></li>
                            <li><a href="#tabs1-pane7" data-toggle="tab">Team Builder</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs1-pane1">
                                <h4>Ganhos por Anúncios Diários</h4>
                                <p>Você ganha dinheiro para publicar anúncios na internet.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane2">
                                <h4>Ganhos por Indicação Direta</h4>
                                <p>Você ganha dinheiro por indicar outros divulgadores para a TelexFREE.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane3">
                                <h4>Ganho Residual</h4>
                                <p>Você recebe 2% de Ganho Residual de Anúncio, ou seja, até o 6º nível você ganha 2% sobre os anúncios dos seus Indicados Diretos ou Indiretos.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane4">
                                <h4>Ganho de Binários</h4>
                                <p>Você ganha dinheiro toda vez que fecha um par - ciclo. Uma AdCentral do lado esquerdo e outra do lado direito.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane5">
                                <h4>Ganho de AdCentrais Adicionais</h4>
                                <p>Você ganha dinheiro toda vez que fecha um ciclo de AdCentrais Adicionais da seguinte maneira: 3 AdCentrais Adicionais do lado esquerdo e outras 3 do lado direito.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane6">
                                <h4>Ganho de Royalties</h4>
                                <p>A cada 2 AdCentral indicadas por você, uma do lado esquerdo e outra do lado direito você completa um ciclo. Com 22 ciclos você já ganha US$ 440.00, mais a participação de 1% no faturamento líquido da empresa naquele mês.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane7">
                                <h4>Ganho de Team Builder</h4>
                                <p>Caso você consiga cadastrar 10 ou mais AdCentrais Family no prazo de 60 dias a contar da ativação da sua conta, você participará da divisão de de 2% do lucro líquido da empresa todo mês durante 1 ano. Com um teto de US$ 39,600.00.</p>
                            </div>
                        </div>
                    </div>
                </div>
			</div><!-- end row -->
			
            <div class="row">
                <div class="span12">
					<h3 class="m_title">E AGORA?</h3>
				</div>
                <div class="span4">
				    <a href="/voip" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-getquote.png" alt="" />
					    <h3 style="margin-top:10px">99TelexFREE</h3>
					    <h4>CONHEÇA NOSSO PRODUTO</h4>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-getquote.png" alt="" />
					    <h3>DÚVIDAS?</h3>
					    <h4>FALE COM A GENTE</h4>
					    <p>Temos o prazer em te atender</p>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="contato" class="hover-box centered fixclear">
					    <h3>AINDA NÃO É MEMBRO?</h3>
					    <h4>VENHA PRA UMA REUNIÃO</h4>
					    <p>Participe da seleção. Clique aqui.</p>
				    </a>
			    </div>
            </div><!-- end row // hoverboxes -->
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->