<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg2"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>TELEXFREE</li>
                    <li>GANHOS</li>
					<li>CENTRAIS ADICIONAIS</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>TRABALHE EM CASA</h2>
					<h4>Tenha uma renda extra trabalhando no conforto da sua casa!</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span9">
					<h1 class="page-title">Ganho de Centrais Adicionais</h1>
					
					<p>Aqui por cada ciclo com 3 AdCentral adicionais, ou seja, 3 do lado esquerdo e 3 do direito, a empresa lhe paga US$ 60.00.</p>
                    <p>A porta de entrada na TelexFREE é se tornar um parceiro - <em>partner</em> - e, logo em seguida, tornar-se um divulgador adquirindo um pacote AdCentral Simples por US$ 289 ou um AdCentral Family por US$ 1,375.00. Você pode começar com um AdCentral e aos poucos você pode adquirir novas AdCentrais Adicionais. Acontece que essas AdCentral Adicionais formam trios no sistema binário, ou seja, quando novas AdCentrais Adicionais entrarem na sua rede você também ganha dinheiro.</p>
                    <p>Sempre na proporção de 3 em 3, 3 do lado esquerdo e 3 do lado direito. Perceba na tabela abaixo.</p>

                    <br clear="all"/>

                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nível de Ganho</th>
                                <th>AdCentrais Adicionais na Esquerda</th>
                                <th>AdCentrais Adicionais na Direita</th>
                                <th>Ciclos de AdCentrais Reconhecidos</th>
                                <th>Renda</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>US$ 60.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>6</td>
                                <td>6</td>
                                <td>6</td>
                                <td>US$ 120.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>12</td>
                                <td>12</td>
                                <td>12</td>
                                <td>US$ 240.00</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>24</td>
                                <td>24</td>
                                <td>24</td>
                                <td>US$ 480.00</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>48</td>
                                <td>48</td>
                                <td>48</td>
                                <td>US$ 960.00</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>96</td>
                                <td>96</td>
                                <td>96</td>
                                <td>US$ 1,920.00</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>192</td>
                                <td>192</td>
                                <td>192</td>
                                <td>US$ 3,840.00</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>384</td>
                                <td>384</td>
                                <td>384</td>
                                <td>US$ 7,680.00</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>768</td>
                                <td>768</td>
                                <td>768</td>
                                <td>US$ 15,360.00</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>Máximo rendimento diário é de 768 AdCentrais Adicionais do lado esquerdo e 768 AdCentrais Adicionais do lado direito. Neste caso você vai Ganhar US$ 15,360.00 por dia. O que ultrapassar esta quantia, acumula para o dia seguinte.</p>
				</div>
						
				<div class="span3">
					<div id="sidebar" class="sidebar-right">
								
						<div class="widget">
							<h4 class="title">Formas de Ganho</h4>
							<ul class="menu">
								<li><a href="/ganhosindividuais">Ganhos Individuais</a></li>
                                <li><a href="/ganhoindicacaodireta">Indicação Direta</a></li>
                                <li><a href="/ganhoresidualdeanuncio">Residual de Anúncio</a></li>
                                <li><a href="/ganhobinarios">Binário</a></li>
                                <li><a href="/ganhocentraisadicionais">Centrais Adicionais</a></li>
                                <li><a href="/ganhoroyalties">Royalties</a></li>
                                <li><a href="/ganhoteambuilder">Team Builder</a></li>
							</ul><!-- end footer menu -->
						</div><!-- end widget -->
								
                        <!--
						<div class="widget">
							<h4 class="title">Flickr Feed</h4>
							<div class="flickrfeed loading">
								<ul class="flickr_feeds fixclear" data-size="small"></ul>
							</div><!- end // flickrfeed -->
						</div>
								
					</div>
            </div><!-- end row -->

            <div class="row">
                <div class="span9">
                    <h3 class="m_title">RESUMINDO OS GANHOS ATÉ AGORA</h3>

                    <div class="tabbable tabs_style1">
                        <ul class="nav fixclear">
                            <li class="active"><a href="#tabs1-pane1" data-toggle="tab">Anúncios</a></li>
                            <li><a href="#tabs1-pane2" data-toggle="tab">Indicação Direta</a></li>
                            <li><a href="#tabs1-pane3" data-toggle="tab">Residual</a></li>
                            <li><a href="#tabs1-pane4" data-toggle="tab">Binário</a></li>
                            <li><a href="#tabs1-pane5" data-toggle="tab">AdCentrais Adicionais</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs1-pane1">
                                <h4>Ganhos por Anúncios Diários</h4>
                                <p>Você ganha dinheiro para publicar anúncios na internet.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane2">
                                <h4>Ganhos por Indicação Direta</h4>
                                <p>Você ganha dinheiro por indicar outros divulgadores para a TelexFREE.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane3">
                                <h4>Ganho Residual</h4>
                                <p>Você recebe 2% de Ganho Residual de Anúncio, ou seja, até o 6º nível você ganha 2% sobre os anúncios dos seus Indicados Diretos ou Indiretos.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane4">
                                <h4>Ganho de Binários</h4>
                                <p>Você ganha dinheiro toda vez que fecha um par - ciclo. Uma AdCentral do lado esquerdo e outra do lado direito.</p>
                            </div>
                            <div class="tab-pane" id="tabs1-pane5">
                                <h4>Ganho de AdCentrais Adicionais</h4>
                                <p>Você ganha dinheiro toda vez que fecha um ciclo de AdCentrais Adicionais da seguinte maneira: 3 AdCentrais Adicionais do lado esquerdo e outras 3 do lado direito.</p>
                            </div>
                        </div>
                    </div>
                </div>
			</div><!-- end row -->
			
            <div class="row">
                <div class="span12">
					<h3 class="m_title">E AGORA?</h3>
				</div>
                <div class="span4">
				    <a href="/ganhoroyalties" class="hover-box fixclear">
					    <span class="numeroGanho">6º</span>
					    <h3 style="margin-top:10px">GANHO</h3>
					    <h4>ROYALTIES</h4>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-getquote.png" alt="" />
					    <h3>DÚVIDAS?</h3>
					    <h4>FALE COM A GENTE</h4>
					    <p>Temos o prazer em te atender</p>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box centered fixclear">
					    <h3>AINDA NÃO É MEMBRO?</h3>
					    <h4>VENHA PRA UMA REUNIÃO</h4>
					    <p>Participe da seleção. Clique aqui.</p>
				    </a>
			    </div>
            </div><!-- end row // hoverboxes -->
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->