<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg1"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
                    <li><a href="#">TELEXFREE</a></li>
					<li>QUEM SOMOS</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>QUEM SOMOS?</h2>
					<h4>A empresa de telefonia que mais cresce no Brasil.</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->

<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span12">
					<h1 class="page-title">Quem Somos</h1>
					<h2 class="subtitle">Somos a empresa de telefonia que mais cresce no Brasil e em mais 63 países no mundo.</h2>
							
					<div id="skills_diagram">
						<div class="legend">
							<h4>Legenda:</h4>
							<ul class="skills">
								<li data-percent="95" style="background-color:#97BE0D;">99TelexFREE</li>
								<li data-percent="90" style="background-color:#D84F5F;">Best Western</li>
								<li data-percent="80" style="background-color:#88B8E6;">TelexCommerce</li>
								<li data-percent="53" style="background-color:#BEDBE9;">TelexBID</li>
							</ul><!-- end the skills -->
						</div>
						<div id="thediagram" data-width="600" data-height="600" data-maincolor="#193340" data-maintext="Serviços" data-fontsize="20px Arial" data-textcolor="#ffffff"></div>
						<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
						<script type="text/javascript" src="addons/raphael_diagram/init.js"></script>
					</div><!-- end skills diagram -->
							
					<p><a href="#" class="hoverBorder pull-left" style="margin-right: 15px; margin-bottom: 12px;"><img src="images/telexfree_placa.jpg" width="200" height="134" alt="Sede da Empresa - Recepção" /></a></p>
					<p>A TelexFREE é uma empresa norte-americana fundada em 2002 por James Merrill. Ela trabalha no ramo de telefonia VoIP (<em>Voice over Internet Protocol</em> - Voz sobre Protocolo da Internet) e está ingressando em outros seguimentos (hotelaria, compra coletiva e leilões de centavos). Está no mercado desde 2002 com o nome de <em>Common Cents Comunication Inc.</em> No início de 2012 ela muda o nome para TelexFREE e entra para o mercado de Marketing de Rede. A mudança do nome é para facilitar a divulgação pessoal, que é o método utilizado pelo Marketing de Rede.</p>
					<p>Também em 2012, a empresa vem para o Brasil e se espalha para mais 63 países ao redor do mundo. A sede no Brasil está situada em Vitória - ES no seguinte endereço:</p>

                    <address>
                        <strong>TelexFREE Brasil</strong><br />
                        Av. Nossa Senhora dos Navegantes, 451<br />
                        Edifício Petro Tower Business - 20º andar<br />
                        Vitória - ES
                    </address>

					<h4 class="m_title">POR QUE TRABALHAR CONOSCO?</h4>

					<ul class="list-style1" style="margin-bottom:20px;">
						<li>Trabalhe a partir do conforto de sua casa, pela internet.</li>
                        <li>Não requeremos dedicação integral ou exclusiva. Trabalhe no seu tempo livre.</li>
                        <li>Não requeremos experiência prévia em marketing de rede ou vendas diretas. Te daremos o treinamento necessário.</li>
						<li>Remuneração semanal.</li>
						<li>Saque direto para sua conta no banco de sua escolha.</li>
						<li>Grupos de divulgadores com reuniões e treinamentos espalhados pelo Brasil.</li>
					</ul>

                    <p>O nosso grande diferencial é que além de vender um plano de telefonia com ligações com um grande pacote de minutos (3000 minutos) por um preço excelente, também oferece a oportunidade para você ganhar dinheiro sendo um divulgador da empresa, trabalhando através da internet para publicar anúncios e trazer pessoas para a empresa por meio do marketing de rede.</p>
				</div>
			</div><!-- end row -->

            <div class="row">
                <div class="span1">
                    <img src="/images/james-merrill.jpg" alt="James Merrill" class="img-rounded" />
                </div>
                <div class="span11" style="margin-left: 15px">
                    <blockquote>
						<p>Nosso negócio não é mágica. É a combinação de trabalho duro e um sistema pesado de marketing através de nossos divulgadores.</p>
						<small>JAMES MERRILL - <cite title="Source Title">Presidente TelexFREE Inc.</cite></small>
					</blockquote>
                </div>
            </div>

			<div class="row">
				<div class="span12">
                    <h4 class="m_title">GALERIA DE FOTOS E DOCUMENTOS DE LEGALIZAÇÃO</h4>	
                    <ul class="photo_gallery">
						<li>
							<a href="/images/gallery/quemsomos/sede-eua.jpg" rel="prettyPhoto[gal]" class="hoverBorder">
								<img src="/images/gallery/quemsomos/sede-eua_thumb.jpg" alt="Sede nos Estados Unidos" />
							</a>
						</li>
                        <li>
							<a href="/images/gallery/quemsomos/sede-brasil.jpg" rel="prettyPhoto[gal]" class="hoverBorder">
								<img src="/images/gallery/quemsomos/sede-brasil_thumb.jpg" alt="Sede no Brasil" />
							</a>
						</li>
                        <li>
							<a href="/images/gallery/quemsomos/sede-brasil-placa.jpg" rel="prettyPhoto[gal]" class="hoverBorder">
								<img src="/images/gallery/quemsomos/sede-brasil-placa_thumb.jpg" alt="Placa na Sala da Empresa" />
							</a>
						</li>
                        <li>
							<a href="/images/gallery/quemsomos/jim-brasil.jpg" rel="prettyPhoto[gal]" class="hoverBorder">
								<img src="/images/gallery/quemsomos/jim-brasil_thumb.jpg" alt="James Merrill e o Rio de Janeiro" />
							</a>
						</li>
                        <li>
							<a href="/images/gallery/quemsomos/legalizada-eua.jpg" rel="prettyPhoto[gal]" class="hoverBorder">
								<img src="/images/gallery/quemsomos/legalizada-eua_thumb.jpg" alt="Documento Norte-Americano de Legalização" />
							</a>
						</li>
                        <li>
							<a href="/images/gallery/quemsomos/legalizada-brasil.jpg" rel="prettyPhoto[gal]" class="hoverBorder">
								<img src="/images/gallery/quemsomos/legalizada-brasil_thumb.jpg" alt="Documento Brasileiro de Legalização" />
							</a>
						</li>
                        <li>
							<a href="/images/gallery/quemsomos/imposto.jpg" rel="prettyPhoto[gal]" class="hoverBorder">
								<img src="/images/gallery/quemsomos/imposto_thumb.jpg" alt="Pagamento de Impostos no Brasil" />
							</a>
						</li>
                    </ul>
                </div>
            </div>                   
					
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->