<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg3"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>PRODUTOS E SERVIÇOS</li>
					<li>TELEXBID</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>INVESTIMENTO GARANTIDO</h2>
					<h4>Conheça nossos produtos e serviços.</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span12">
					<h1 class="page-title">TelexBID</h1>
							
					<div class="hg-portfolio-item">
                                
                        <div class="category-desc">
                            <p>A TelexFREE, empresa que mais cresce no Brasil e no mundo, lançará o Leilão TelexBID, um leilão de centavos que traz produtos focados especialmente para o público que gosta de diversão. Entre os itens em leilão estarão carros, gift card’s, viagens para destinos nacionais e internacionais, vale compras além de ingressos para os shows e as festas mais badaladas em todo o Brasil e do mundo.</p>
                            
                        </div>
                                
                        <div class="img-full pull-right" style=" margin-left:25px;">
                            <div class="hoverBorder">
                                <iframe width="480" height="300" src="http://www.youtube.com/embed/PsdcQ7Os1nc?rel=0" frameborder="0" allowfullscreen></iframe>
                            </div>

                            <div class="clear"></div>
                                
                            <div class="itemLinks">
                                <!--<p><a href="/pdf/book-best-western.pdf" target="_blank">Mais detalhes: <strong>baixe nosso PDF</strong></a></p>-->
                            </div>
                                
                            <div class="itemSocialSharing fixclear">
                                        
                                <!-- Twitter Button -->
                                <div class="itemTwitterButton">
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
                                    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                                </div>
                                        
                                <!-- Facebook Button -->
                                <div class="itemFacebookButton">
                                    <div id="fb-root"></div>
                                    <script type="text/javascript">
                                        (function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) {return;}
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_US/all.js#appId=177111755694317&xfbml=1";
                                        fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'facebook-jssdk'));
                                    </script>
                                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
                                </div>
                                        
                                <!-- Google +1 Button -->
                                <div class="itemGooglePlusOneButton">	
                                    <g:plusone size="medium"></g:plusone>
                                    <script type="text/javascript">
                                        (function() {
                                        window.___gcfg = {lang: 'en'}; // Define button default language here
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                        })();
                                    </script>
                                </div>
                                        
                                <div class="clr"></div>
                            </div><!-- social links -->
                                
                        </div><!-- right side -->

                        <div class="text">
                            <p>A diferença entre um leilão tradicional e o leilão de centavos é que, no tradicional um produto é oferecido por um valor mínimo e seu preço vai aumentando a cada oferta, ação esta conhecida como lance. O processo continua até que ninguém mais faça uma oferta e aquele que deu o maior lance vence o leilão, comprando o produto pelo valor ofertado.</p>
                            <p>Já no TelexBID o valor mínimo é sempre zero e a cada lance o preço do produto aumenta de centavo em centavo, o que torna possível a aquisição de produtos com até 99% de desconto. O leilão começa assim que o produto é cadastrado no site, até o último lance dado. Em contagem regressiva, um relógio mostra quanto tempo falta para o término do leilão, retornando aos 15/20/30 segundos quando um lance é dado. Dessa forma, o leilão só termina quando “zerar” o cronômetro e o responsável pelo último lance arremata o produto, pagando o valor final (Arremate).</p>
                            <h5><strong>Tamanho é documento</strong></h5>
                            <p>O TelexBID já nascerá gigante e por isso proporcionará algo simplesmente INÉDITO. Teremos duas modalidades de leilões, a já conhecida, com um ganhador, denominada TOP1 e a GRANDE NOVIDADE, leilãoTOP10, nesses leilões teremos 10 ganhadores, ISSO MESMO! Serão os últimos 10 lances dados, de participantes diferentes, não conta lances repetidos do mesmo participante, entre os últimos 10 lances, assim as chances são muito maiores para todos.</p>
                            <h5><strong>Como funciona</strong></h5>
                            <p>Para participar dos nossos leilões os participantes terão que se cadastrar com antecedência, poucos cliques, pois teremos um número máximo de participantes em cada leilão. Até que esse máximo seja atingido outros participantes poderão acessar o leilão, desde que se cadastrem na hora e estejam dentro das normas. Os participantes devem ter um número mínimo e máximo de lances para se cadastrarem no leilão desejado. Dessa forma aumentamos as chances de todos poderem ganhar. Ao final do leilão os lances que não foram dados retornarão as contas dos participantes e poderão ser usados em novos leilões milionários TelexBID.</p>
                            <p>Com esse leilão milionário sua vida vai mudar, ACREDITE!</p>
                        </div><!-- end text -->
                        <div class="clear"></div>
                    </div><!-- end Portfolio page -->
							
				</div>
			</div><!-- end row -->
					
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->