<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg2"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>NOSSA REDE</li>
					<li>TRABALHE CONOSCO</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>FAÇA PARTE</h2>
					<h4>A gente cresce, você cresce!</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span9">
					<h1 class="page-title">Trabalhe conosco</h1>
							
					<p>Para começar a trabalhar em casa com a TelexFREE é necessário dar 2 passos:</p>

                    <h3 class="m_title">1 - PARCEIRO</h3>

					<p>Tornar-se <em>Parceiro TelexFREE</em> te dará direito a:</p>

                    <dl class="dl-horizontal">
                        <dt>Seu site</dt>
                        <dd>Um subdomínio semelhante a este: telexfree.com/seulogin</dd>

                        <dt>Vender serviço VoIP</dt>
                        <dd>Um sistema de telefonia que utiliza a internet para fazer ligações</dd>

                        <dt>Comissões</dt>
                        <dd>Ao vender o VoIP, você recebe 10% de comissão</dd>
                    </dl>

					<p>Cadastrando-se, então, como parceiro, você fará parte do marketing de rede da empresa ocupando uma posição na rede do seu patrocinador e já poderá cadastrar novos divulgadores, começando assim construir sua rede. Entretanto você <strong>não</strong> ganha comissão ou bônus por trazer um novo divulgador.</p>
					<p>O valor da adesão para se tornar parceiro é de US$ 50.00. Você também pode pagar no boleto ou cartão através do PagSeguro. O pagamento parcelado é uma exclusividade que nosso grupo traz pra você.</p>

                    <h3 class="m_title">2 - DIVULGADOR</h3>

					<p>Tornar-se um <em>Divulgador TelexFREE</em> te dará direito a:</p>

                    <dl class="dl-horizontal">
                        <dt>Seu site</dt>
                        <dd>Um subdomínio semelhante a este: telexfree.com/seulogin</dd>

                        <dt>Vender serviço VoIP</dt>
                        <dd>Um sistema de telefonia que utiliza a internet para fazer ligações</dd>

                        <dt>Comissões</dt>
                        <dd>Ao vender o VoIP, você recebe 90% de comissão</dd>

                        <dt>Anúncios</dt>
                        <dd>Você passa a anunciar o serviço VoIP e o negócio da TelexFREE na internet</dd>

                        <dt>Remuneração</dt>
                        <dd>Receber uma remuneração semanal por divulgar a empresa</dd>

                        <dt>Ganhar por Indicação</dt>
                        <dd>Passa a receber uma bonificação por indicar um amigo para também ser um divulgador</dd>

                        <dt>Ganhos de Rede</dt>
                        <dd>Também passa a usufruir de todos os ganhos que sua rede proporcionar</dd>
                    </dl>

					<p>Apenas na listagem acima já dá pra perceber as grandes vantagens de ser um divulgador. Não se preocupe, caso não saiba usar bem a internet ou se não tem aptidão para venda; nós lhe daremos o devido treinamento e suporte pós-adesão para que você aprenda o negócio e desenvolva sua própria rede. Ou caso você não goste da ideia de trabalhar com rede, apenas poste os anúncios no conforto da sua casa e ganhe por semana. É muito simples.</p>
					<p>O investimento para tornar-se um divulgador é a partir de US$ 289.00. Você também pode pagar no boleto ou cartão através do PagSeguro. O pagamento parcelado é uma exclusividade que nosso grupo traz pra você.</p>
                    <p>Lembrando que para ser um divulgador é necessário ser um parceiro primeiro.</p>
					
                    <h3 class="m_title">Membro do Grupo</h3>

                    <p>Ser membro da nossa rede não é uma obrigação para começar a trabalhar na TelexFREE. Porém você terá inúmeros benefícios. Conheça quais são estes benefícios clicando <a href="/beneficios">aqui</a>.</p>
                    <p>Ao tornar-se divulgador através de alguém da nossa rede, basta entrar em contato conosco para fazer seu cadastro gratuito no nosso sistema e ter todo treinamento e duporte necessário para seu desenvolvimento, alcançando grandes quantias por mês!</p>
                    <p>Abaixo apresentamos um resumo e alguns links importantes referentes ao que esclarecemos aqui.</p>
				</div>
						
				<div class="span3">
					<div id="sidebar" class="sidebar-right">
								
						<div class="widget">
							<h4 class="title">Links Importantes</h4>
							<ul class="menu">
                                <li><a href="/negocio">Negócio</a></li>
                                <li><a href="/ganhosindividuais">Ganhos</a></li>
                                <li><a href="/beneficios">Benefícios</a></li>
                                <li><a href="/adesão">Adesão</a></li>
								<li><a href="/contato">Contato</a></li>
							</ul><!-- end footer menu -->
						</div><!-- end widget -->
								
                        <!--
						<div class="widget">
							<h4 class="title">Flickr Feed</h4>
							<div class="flickrfeed loading">
								<ul class="flickr_feeds fixclear" data-size="small"></ul>
							</div><!- end // flickrfeed -->
						</div>
								
					</div>
				</div>
			</div><!-- end row -->
			
            <div class="row">
				<div class="span12">
					<div class="process_steps fixclear">
						<div class="step intro">
							<h3>Resumindo <strong>em 3 passos</strong></h3>
							<!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>-->
                            <p>Antes de aderir à TelexFREE como divulgador, esteja a par de todo o processo. Não se cadastre antes de participar de uma reunião, entrar em contato conosco ou conversar com um membro da rede.</p>
							<a href="/contato">CONTATE-NOS PARA SABER MAIS +</a>
						</div><!-- end step -->
						<div class="step step1">
							<div class="icon" data-animation="tada">
								<img src="images/icons/steps/ico-plan.png" alt="" />
							</div>
							<h3>Participe da Reunião</h3>
							<p>Uma reunião presencial onde nós apresentamos como funciona todo o negócio da TelexFREE.</p>
						</div><!-- end step -->
						<div class="step step2">
							<div class="icon" data-animation="pulse">
								<img src="images/icons/steps/ico-designdev.png" alt="" />
							</div>
							<h3>Faça sua Adesão</h3>
							<p>Faça sua adesão pelo PagSeguro UOL no cartão. Para isso, você precisa de um PATROCINADOR da nossa rede.</p>
						</div><!-- end step -->
						<div class="step step3">
							<div class="icon" data-animation="fadeOutRightBig">
								<img src="images/icons/steps/ico-launch.png" alt="" />
							</div>
							<h3>Pronto!</h3>
							<p>Agora você pode participar das reuniões de treinamento, saber usar seu Back Office e como recrutar seus amigos.</p>
						</div><!-- end step -->
					</div>
			
				</div>
			</div><!-- end row // process_steps -->

            <div class="row">
                <div class="span12">
					<h3 class="m_title">E AGORA?</h3>
				</div>
			    <div class="span4">
				    <a href="/contato" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-getquote.png" alt="" />
					    <h3>DÚVIDAS?</h3>
					    <h4>FALE COM A GENTE</h4>
					    <p>Temos o prazer em te atender</p>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/contato" class="hover-box centered fixclear">
					    <h3>AINDA NÃO É MEMBRO?</h3>
					    <h4>VENHA PRA UMA REUNIÃO</h4>
					    <p>Participe da seleção. Clique aqui.</p>
				    </a>
			    </div>
			    <div class="span4">
				    <a href="/adesao" class="hover-box fixclear">
					    <img src="images/icons/hover-boxes/ico-downloadpdf.png" alt="" />
					    <h3 style="margin-top:10px">ADESÃO</h3>
					    <h4>ENTENDA O PROCESSO AQUI</h4>
				    </a>
			    </div>
            </div><!-- end row // hoverboxes -->
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->