<div id="page_header" class="gradient bottom-shadow">
	<div class="bgback bg3"></div>
			
	<div class="container">
		<div class="row">
			<div class="span6">
				<ul class="breadcrumbs fixclear">
					<li><a href="/">HOME</a></li>
					<li>PRODUTOS E SERVIÇOS</li>
					<li>99TelexFREE</li>
				</ul>
				<span id="current-date"></span>
			</div>
			<div class="span6">
				<div class="header-titles">
					<h2>INVESTIMENTO GARANTIDO</h2>
					<h4>Conheça nossos produtos e serviços.</h4>
				</div>
			</div>
		</div><!-- end row -->
	</div>
			
	<div class="shadowUP"></div>
</div><!-- end page_header -->
        
<section id="content">
	<div class="container">
				
		<div id="mainbody">
					
			<div class="row">
				<div class="span12">
					<h1 class="page-title">99TelexFREE</h1>
							
					<div class="hg-portfolio-item">
                                
                        <div class="category-desc">
                            <p>99TelexFREE é o principal produto da empresa. Ele utiliza a tecnologia VoIP - <em>Voice over Internet Protocol</em> - em que você faz ligação a partir de uma conexão com a internet. Mas é possível fazer ligações sem a necessidade de um computador. Você liga para o 0800-033-3279 ou 0800-283-7554 e será atendido pela central de atendimento que irá ligar para o fixo ou celular que você deseja. Com esse plano você falará muito mais por um pagamento único mensal de apenas US$ 49.90.</p>
                        </div>
                                
                        <div class="img-full pull-right" style=" margin-left:25px;">
                            <a href="http://www.telexfree.com/ad/danilojrr" target="_blank" class="hoverBorder">
                                <img src="/images/portfolio_images/voip/software.jpg" alt="" />
                            </a>

                            <div class="clear"></div>
                                
                            <div class="itemLinks">
                                <p><a href="http://www.telexfree.com/ad/danilojrr" target="_blank">1 hora de ligação gratuita: <strong>baixe agora</strong></a></p>
                            </div>
                                
                            <div class="itemSocialSharing fixclear">
                                        
                                <!-- Twitter Button -->
                                <div class="itemTwitterButton">
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
                                    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
                                </div>
                                        
                                <!-- Facebook Button -->
                                <div class="itemFacebookButton">
                                    <div id="fb-root"></div>
                                    <script type="text/javascript">
                                        (function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) {return;}
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_US/all.js#appId=177111755694317&xfbml=1";
                                        fjs.parentNode.insertBefore(js, fjs);
                                        }(document, 'script', 'facebook-jssdk'));
                                    </script>
                                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
                                </div>
                                        
                                <!-- Google +1 Button -->
                                <div class="itemGooglePlusOneButton">	
                                    <g:plusone size="medium"></g:plusone>
                                    <script type="text/javascript">
                                        (function() {
                                        window.___gcfg = {lang: 'en'}; // Define button default language here
                                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                        po.src = 'https://apis.google.com/js/plusone.js';
                                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                        })();
                                    </script>
                                </div>
                                        
                                <div class="clr"></div>
                            </div><!-- social links -->
                                
                        </div><!-- right side -->

                        <div class="text">
                            <p>Com o nosso plano 99Telexfree você dará adeus a história de ficar sem crédito para falar e só ficar recebendo, não perca tempo adquira logo o seu plano.</p>

                            <h5><strong>Veja para onde ligar e falar a vontade</strong></h5>

                            <ul class="list-style2 ">
                                <li>Celular - Fale a vontade com celulares das operadoras VIVO, CLARO, TIM e OI - Local e DDD</li>
                                <li>Fixo - Fale a vontade com qualquer telefone fixo no Brasil Local e DDD</li>
                                <li>Internacional - Fale a vontade com telefones fixos e celulares nos EUA e Canadá - DDI</li>
                            </ul>

                            <p>99TelexFREE cresce a cada dia em todo Brasil.O 99TelexFREE atua, justamente, onde as pessoas mais gastam em suas ligações telefônicas, ou seja, quando ligam de uma operadora móvel para outra operadora. Seja em ligações locais, assim como, e principalmente, em ligações interurbanas (DDD).</p>

                        </div><!-- end text -->
                        <div class="clear"></div>
                        <!--
                        <ul class="other-images clearfix">
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-lobby.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-lobby_thumb.jpg" alt="Lobby" class="shadow" />
                                </a>
                            </li>
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-quarto.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-quarto_thumb.jpg" alt="Quarto" class="shadow" />
                                </a>
                            </li>
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-restaurante.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-restaurante_thumb.jpg" alt="Restaurante" class="shadow" />
                                </a>
                            </li>
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-quarto-planta.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-quarto-planta_thumb.jpg" alt="Quarto - Planta" class="shadow" />
                                </a>
                            </li>
                            <li>
                                <a href="/images/portfolio_images/bestwestern/bw-fachada.jpg" rel="prettyPhoto" class="hoverBorder">
                                    <img src="/images/portfolio_images/bestwestern/bw-fachada_thumb.jpg" alt="Fachada" class="shadow" />
                                </a>
                            </li>
                        </ul><!-- other images/videos -->
                            
                    </div><!-- end Portfolio page -->
							
				</div>
			</div><!-- end row -->
					
		</div><!-- end mainbody -->
				
	</div><!-- end container -->
</section><!-- end #content -->